/* Webfont: BountyRegular */@font-face {
    font-family: 'Bounty';
    src: url('Bounty.eot'); /* IE9 Compat Modes */
    src: url('Bounty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Bounty.woff') format('woff'), /* Modern Browsers */
         url('Bounty.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

